.movie_skeloton {
  width: 178px;
  height: 100px;
  margin: 2px;
  flex-shrink: 0;
  border-radius: 10px;
}

@for $i from 1 through 10 {
  .movie_skeloton:nth-child(#{$i}) {
    animation: animate 0.5s ease .1s*$i infinite alternate-reverse;
  }
}
@keyframes animate {

  0%   {background-color: #565252
  }

  100% {background-color: #171616
  }
}
.movies_skeloton {
  padding: 0 60px;
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 80px;
  overflow: hidden;
}